@{
    ViewData["Title"] = "SCS Help Desk";
}
@section styles {
    <link rel="stylesheet" href="~/css/knowledgeBase.css" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="navbar bg-body-tertiary shadow-lg">
            <a class="navbar-brand" href="#">
                <img src="~/img/scsHelpDeskLogo.svg" alt="Bootstrap" class="scsLogo">
            </a>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-custom me-md-2 mr-5" type="button">Back to Homepage</button>
                <a asp-action="SignOutUser" asp-controller="Account" class="btn btn-danger logout-btn shadow-lg" type="button">Logout</a>
            </div>

        </nav>
    </div>
</body>
</html>
