body {
    background-color: #D9D9D9;
}

.scsLogo {
    width: auto;
    height: 60px;
}

.btn-custom {
    background-color: #f4a261;
    border: none;
    color: white;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.2s ease;
}

    .btn-custom:hover {
        background-color: #e18f4f;
        color: white;
    }
